/build*/
/oshot
/oshot_r
/locale/
/include/version.h

AppDir
*.AppImage
*.tar.*
*.mo

/debian/
!/debian/control
!/debian/rules
!/debian/copyright
!/debian/source/
!/debian/compat
!/debian/changelog
/obj-*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.cache
imgui.ini
compile_commands.json
