#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	dh_auto_build --buildsystem=cmake

override_dh_auto_install:
	dh_auto_install --buildsystem=cmake
	install -Dm644 oshot.desktop \
		$(CURDIR)/debian/oshot/usr/share/applications/oshot.desktop
